*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-image: #194bef;
}  

/* color de fondo toda la pagina */

body {
    background-color: #f9f4f5;
}

/* logo principal */

.logoempresa {
    max-width: 100px;
    border-radius: 50px;
    border: 1.8px solid #f9f4f5;
    transition: 1s;

}

/* alinear textos */
.justifyText{
    /* background-color: #122a76; */
    text-align: justify;


}
<<<<<<< HEAD
=======


/* 
.container img:hover {
    filter: none;
    width: 110px;
    height: auto;
    opacity: 1;
} */
>>>>>>> fdf22f74753bfcc9f46c1f30898a59b3c6b228da



/* Color barra de navegacion */
.fixed-top {
<<<<<<< HEAD
    background-image: radial-gradient(circle at 88.34% 50%, #005784 0, #005686 10%, #005488 20%, #005289 30%, #0a5089 40%, #264e88 50%, #364c86 60%, #444984 70%, #4f4681 80%, #58437d 90%, #614179 100%);
=======
    background-color: #141b3b;
>>>>>>> fdf22f74753bfcc9f46c1f30898a59b3c6b228da
}


/* tamaño de pantalla celular */

@media (max-width: 450px) { /* min = desde... */
    
    .navbar-brand img{
        width: 50px;
        height: auto;
    }
    .navbar-brand .marca {
        /* background: #000000; */
        font-size: 15px;
    }
    .navbar .navbar-expand-lg .fixed-top {
        background: #122a76;
        font-size: 20px;
    }
    
    .navbar-toggler-icon{
        /* background-color: rgb(0, 255, 55); */
        width: 15px;
        padding: 0px;
        margin: 0px;
    }

}


/* carrosel */

.carousel-inner img{
    margin-top: 95px;
}


/* Imagenes portafolio */

.foto-1
{
    filter: opacity(60%);

}

.foto-1:hover {
    filter: none;
}

.foto-2
{
    filter: opacity(60%);

}

.foto-2:hover {
    filter: none;
    
}

.foto-3
{
    filter: opacity(60%);

}

.foto-3:hover {
    filter: none;
  
}

/* donde empiensan las transiciones */

@media (min-width: 1250px) and (max-width: 1400px) {
    
    .foto-1
    {
        transition: all 1s;
    }
    
    .foto-1:hover {
        width: 600px;
        height: auto;
        opacity: 1;
    }

    .foto-2
{
    transition: all 1s;
}

.foto-2:hover {
    width: 600px;
    height: auto;
    opacity: 1;
    
}

.foto-3
{
    transition: all 1s;
}

.foto-3:hover {
    width: 600px;
    height: auto;
    opacity: 1;
    
}

}


/* pie de pagina */

.piePagina{
    background-color: #264e88;
}


.piePaginaTexto h5{
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding-top:0px;
    padding-bottom: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.piePaginaRedes a {
    padding-bottom: 10px;
    margin: 4px;
}

.piePaginaRedes img {
    width: 40px;
    height: auto;
    padding: 1px;
    filter: grayscale();
}

.piePaginaRedes img {
    width: 35px;
    height: auto;
    padding: 1px;
    filter: grayscale();
}


.piePaginaRedes img:hover {
    filter: none;
}

.piePaginaCopy P {
    display: flex;
    justify-content: center;
    font-size: 10px;
    margin-top: 10px;
}


/* mapa pagina contactos */
.container-fluid .map{
    margin-top: 100px;

}

/* pagina galeria */

.galeriaBenefica img{
    width: 100%;
    filter: grayscale(1);
}
.galeriaBenefica img:hover {
    filter: none;
}

/* .galeriaBenefica{
    background-color: #147612;
} */


/* portafolio de servicios */

.serviciosBenefica{
    padding-top: 150px;
    padding-left: 25px;
    padding-right: 25px;

}
